:root {
    --row-height: 60px;
}
html, body {
    margin: 0;
}
.main {
    background: rgb(10, 28, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 28, 44);
    border: solid 4px rgb(170, 178, 192);
    height: 600px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.display-container {
    display: flex;
    margin: 10px;
    background-color: rgb(14, 50, 79);
    flex: 1;
    border-radius: 4px;
}
.grid-number-pad {
    height: 60%;
    margin: 10px;
    flex: 1;
    margin-top: auto;
    /*background-color: rgb(1, 23, 46);*/
    display: grid;
    gap: 3px;
    padding: 5px;
    /*grid-template: var(--row-height) var(--row-height) var(--row-height) var(--row-height) 
                / auto auto auto auto;*/

    /* This will keep the columns the exact same width */
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . equal"
        ". . . equal";
}
.key {
    background-color: rgb(170, 178, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    font-weight: bolder;
    line-height: 0;
}
.key[data-key="1"] {
    background-color: yellow;
}
.key[data-key="="] {
    grid-area: equal;
}
@media only screen and (max-height: 600px), (max-width: 400px)  {
    .main {
        background: rgb(10, 28, 44);
    }
    .calculator-container {
        min-height: 100%;
        overflow: auto;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: none;
    }
    .display-container {
        margin: 0;
        border-radius: 0;
    }
    .grid-number-pad {
        height: 50%;
        margin: 0;
    }
    .key{
        line-height: 0;
        overflow: hidden;
        font-size: 6vmin;
        border-radius: 1vh;
    }
  }

  