:root {
    --row-height: 60px;
}
html, body {
    margin: 0;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(10, 28, 44);
    height: 100vh;
    overflow: auto;
}
.calculator-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(5, 19, 31);
    border: solid 4px rgb(14, 50, 79);
    border-radius: 10px;
}
.display-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin: 10px;
    border-radius: 4px;
    background-color: rgb(14, 50, 79);
}
.line {
    margin-left: 5px;
    overflow: hidden;
}
.grid-inputs {
    flex: 1;
    display: grid;
    gap: 3px;
    height: 60%;
    margin-top: auto;
    margin: 10px;
    padding: 5px;
    /*background-color: rgb(1, 23, 46);*/
    /*grid-template: var(--row-height) var(--row-height) var(--row-height) var(--row-height) 
                / auto auto auto auto;*/

    /* This will keep the columns the exact same width */
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . equal"
        ". . . equal";
}
.key {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(170, 178, 192);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    font-weight: bolder;
    line-height: 0;
}
.key[data-key="1"] {
    background-color: yellow;
}
.key[data-key="="] {
    grid-area: equal;
}
@media only screen and (max-height: 600px), (max-width: 400px)  {
    .main {
        background: rgb(10, 28, 44);
    }
    .calculator-container {
        min-height: 100%;
        /*overflow: auto;*/
        margin: 0;
        padding: 0 5px 0 5px;
        border: none;
        border-radius: 0;
        background-color: rgb(10, 28, 44);
    }
    .display-container {
        margin: 5px 0px 0px 0px;
        border-radius: 0;
        overflow: auto;
    }
    .grid-inputs {
        height: 50%;
        margin: 0;
        padding: 5px 0px 5px 0px;
    }
    .key{
        overflow: hidden;
        border-radius: 1vh;
        line-height: 0;
        font-size: 6vmin;
    }
  }

  