/*
    Author: Blooblitz
    Date: 2022

    Calculator app for The Odin Project
*/

:root {
    --row-height: 60px;
}
html, body {
    margin: 0;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(87, 100, 112)
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    color:rgb(170, 178, 192);
    background-color: rgb(10, 28, 44);
}
.header > h1 {
    line-height: 0;
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background: rgb(87, 100, 112);
    overflow: auto;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    color:rgb(170, 178, 192);
    background-color: rgb(10, 28, 44);
}
.calculator-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(5, 19, 31);
    border: solid 4px rgb(10, 28, 44);
    border-radius: 10px;
}
.display-container {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 10px 0px 10px;
    border-radius: 4px;
    background-color: rgb(14, 50, 79);
    overflow: auto;

    color: white;
    padding: 2%;
}
.calc-history {
    margin-top: auto;
}
.calc-current {
    font-size: 2em;
}
.grid-inputs {
    flex: 1;
    display: grid;
    gap: 3px;
    height: 60%;
    margin-top: auto;
    margin: 10px;
    padding: 5px;
    /*background-color: rgb(1, 23, 46);*/
    /*grid-template: var(--row-height) var(--row-height) var(--row-height) var(--row-height) 
                / auto auto auto auto;*/

    /* This will keep the columns the exact same width */
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . equal"
        ". . . equal";
}
.key {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(170, 178, 192);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    line-height: 0;

	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}
.key:active {
    transform:scale(0.98);
    background-color: rgb(209, 133, 27);

}
.key[data-key="1"] {
}
.key[data-key="="] {
    grid-area: equal;
}

@media only screen and (max-height: 500px),
            screen and (max-width: 500px)  {
    .header {
        height: 60px;
    }
    .main {
        background: rgb(10, 28, 44);
        height: 100%;
    }
    .footer{
        display: none
    }
    .calculator-container {
        min-height: 100%;
        /*overflow: auto;*/
        margin: 0;
        padding: 0 5px 0 5px;
        border: none;
        border-radius: 0;
        background-color: rgb(10, 28, 44);
    }
    .display-container {
        margin: 5px 0px 0px 0px;
        border-radius: 0;
        overflow-y: scroll;
    }
    .grid-inputs {
        height: 50%;
        margin: 0;
        padding: 5px 0px 5px 0px;
        gap: 0.5vmin;
    }
    .key{
        overflow: hidden;
        border-radius: 1vh;
        line-height: 0;
        font-size: 6vmin;
    }
}
@media only screen and (min-height: 501px) and (max-height: 740px) {
    .calculator-container {
        max-height: 96%;
        /*overflow: auto;*/
    }
    .display-container {
        height: 50%;
        overflow: auto;
    }
    .grid-inputs {
        height: 50%;
    }
    .key{
        overflow: hidden;
        border-radius: 1vh;
        line-height: 0;
        /*font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));*/
    }
}

  